@CHARSET "ISO-8859-1";

#content_wrapper { width:100%; margin:0 auto; position:relative; }
#error_content_good { height:30px; width:100%; margin:5px 0 0 0; color:#1d5322; background:transparent url(dir_to/good.jpg) repeat-x; font-size:14pt; text-align:center; border:1px solid #8bf995; border-radius:5px 5px; }
#error_content_bad { height:30px; width:100%; margin:5px 0 0 0; color:#5a1d1d; background:transparent url(dir_to/bad.jpg) repeat-x; font-size:14pt; text-align:center; border:1px solid #f98b8b; border-radius:5px 5px; }